#product_setup_menu
{
    margin:0px;
    padding:0px;
    width:100%;
    border-bottom:1px solid #cccccc;
}
#product_setup_menu a
{
     float:left;
      margin:0px;
      padding:10px;
       font-weight:normal;
       font-family:Calibri;
       font-size:16px;
}
.contentheadedetail
{
    margin-bottom:15px;
}