
body{font-size:12px; font-family:Verdana, Geneva, sans-serif}
.tbl_acknow
{
	width:960px;
	border:1px solid #dce3eb;
	text-align:left;
	margin-bottom:20px;
}
.tbl_acknow th
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#555;
	color:#ffffff;
	line-height:30px;
	height:30px;
}
.tbl_acknow td
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#7b7b7b;
	padding:5px;

}
.no_result
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#7b7b7b;
	line-height:40px;
	background-color:#ffffff;
	border:2px solid #dce3eb;
}
.tbl_acknow tr.header_field
{
background:url(/images/bg_header_acknow.gif) repeat-x 0 0;	
}
.tbl_acknow_row_white
{
		background-color:#ffffff;
}
.tbl_acknow_row_gray
{
		background-color:#f2f2f2;
}
.tbl_acknow td.header_category
{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	color:#555;
}

#acknow_search
{
	font-size:14px;
	width:960px;
	border-bottom:2px solid #369;
	text-align:right;
	padding:10px 0px;
	line-height:1.4em;
}
#acknow_advance_search
{
	font-size:12px;
	
	padding-bottom:10px;
}
#acknow_advance span
{
	font-size:12px;
}
#acknow_advance_form
{
	border-top:4px solid #328aa4;
	background-color:#f2f5f8; text-align:left;
	position:relative;
	margin-bottom:10px;
	padding:10px 0px;
	
}
#acknow_advance_form p
{
	position:relative;
	margin:0px;
	padding:3px 10px;
}
#acknow_advance_form span
{
	font-weight:bold;
	font-size:12px;
	color:#333;
}
#acknow_advance_form p label{
	color:#333;
	font-weight:bold;
	font-size:12px;
}
#acknow_advance_form p label.from
{
	position:absolute;
	left:120px;
}
#acknow_advance_form p label.to
{
	position:absolute;
	left:320px;
}
#acknow_advance_form p input.text_from
{
	position:absolute;
	left:160px;
}
#acknow_advance_form p input.text_from img
{
	position:relative;
}
#acknow_advance_form p input.text_to
{
	position:absolute;
	left:340px;
}
#acknow_advance_form select.action
{
	position:absolute;
	left:120px;
}
#acknow_advance_form select.sortBy
{
	position:absolute;
	right:35px;
}
#acknow_submit
{
	position:absolute;
	width:300px;
	height:30px;
	top:10px;
	right:10px;
}
#ack_search_box td
{
	font-size:12px;
}
.fStatus_booking_open
{
	color:#090;
}
.fStatus_booking_closed
{
	color:#F60;
}
#displayResult{
background-color:#f2f2f2;
clear: both; 
display:none;
width:960px;

}

#extranet_tab
{
	margin-left:45px;
	margin-bottom:-1px;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	width: 100%;
}
#extranet_tab li
{
	float: left;
	margin-right:1px;
	padding: 0 10px;
	height: 31px;
	line-height:31px;
	border-left: none;
	margin-bottom: -1px;
	background:#f7f7f7;
	overflow: hidden;
	position: relative;
	font-size:12px;
	cursor:pointer;
}

#extranet_tab li.active {
	display: block;
	background:#328aa4;
	color:#ffffff;
}
.tbl_stat
{
	width:960px;
	text-align:left;
	margin-bottom:20px;
}
.tbl_stat tr th
{
	padding:5px;
	background-color:#4faeca;
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
}
.tbl_stat tr td
{
	font-size:12px;
	padding:5px;
	color:#555555;
}