body{
	color:#666;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	height:800px;
	background:url(images/layout/bg-body.jpg) repeat-x #fcfcfc;
	margin:10px 0px 0px 0px;
}
input, textarea, select{
	color:#5f85b7;
	font-size:1em;
	font-family:Tahoma, Geneva, sans-serif;		
}
form{
	margin:0px;
	padding:0px;
	border:0px;	
}
img{
	border:none;
}
h1, h2, h3, h4, h5{
	line-height:0px;
	margin:0px;
}
h1{font-size:12px; color:#999; font-weight:normal; }
h2{font-size:1.6em; color:#5684b7; line-height:24px;}
h3{font-size:1.8em; color:#5f85b7; line-height:28px; }
h4{font-size:1.2em; color:#5f85b7; line-height:15px; }
h5{font-size:12px; color:#666; line-height:14px;}

div{
	margin:0px;
	padding:0px;
}
a{text-decoration:none; }
a:link{
	color:#0066a8;
}
a:visited{
	color:#0066a8;
}
a:hover, a:active{
	color:#000;	
}
a:active, a:focus{
	outline:none;	
}
ul, ol, p{
	margin:0px;
	padding:0px;	
}
li{list-style:none; }
.left{float:left; }
.right{float:right; }
.clear-all{clear:both; line-height:0px }


/* class_star */
/* class big star */
.class_star{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star_b.jpg) no-repeat top;
	float:left;	
}
.class_star_one-point-zero{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star_b.jpg) no-repeat top;
	float:left;	
}
.class_star_one-point-five{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star_b.jpg) no-repeat 0 -20px;
	float:left;	
}
.class_star_two-point-zero{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star.jpg) no-repeat 0 -40px;
	float:left;	
}
.class_star_two-point-five{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star_b.jpg) no-repeat 0 -60px;
	float:left;	
}
.class_star_three-point-zero{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star.jpg) no-repeat 0 -80px;
	float:left;	
}
.class_star_three-point-five{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star_b.jpg) no-repeat 0 -100px;
	float:left;	
}
.class_star_four-point-zero{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star.jpg) no-repeat 0 -120px;
	float:left;	
}
.class_star_four-point-five{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star_b.jpg) no-repeat 0 -140px;
	float:left;	
}
.class_star_five-point-zero{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star.jpg) no-repeat 0 -160px;
	float:left;	
}
/* class big star */


/* class small star */
.class_star_s{
	margin-left:13px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat top;
	float:left;	
}
.class_star_s_one-point-zero{
	margin-left:5px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat top;
	float:left;	
}
.class_star_s_one-point-five{
	margin-left:5px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat 0 -18px;
	float:left;	
}
.class_star_s_two-point-zero{
	margin-left:5px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat 0 -35px;
	float:left;
}
.class_star_s_two-point-five{
	margin-left:5px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat 0 -52px;
	float:left;
}
.class_star_s_three-point-zero{
	margin-left:5px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat 0 -69px;
	float:left;
}
.class_star_s_three-point-five{
	margin-left:5px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat 0 -87px;
	float:left;
}
.class_star_s_four-point-zero{
	margin-left:5px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat 0 -104px;
	float:left;
}
.class_star_s_four-point-five{
	margin-left:5px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat 0 -121px;
	float:left;
}
.class_star_s_five-point-zero{
	margin-left:5px;
	height:16px;
	width:82px;
	background:url(images/icon/icon_star_s.jpg) no-repeat 0 -137px;
	float:left;
}
/* class small star */
/* class_star*/




/* icon */
.icon_review_1{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 0;
	float:left;
}
.icon_review_2{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 -15px;
	float:left;
}
.icon_review_3{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 -30px;
	float:left;
}
.icon_review_4{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 -45px;
	float:left;
}
.icon_review_5{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 -60px;
	float:left;
}
.icon_review_6{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 -75px;
	float:left;
}
.icon_review_7{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 -90px;
	float:left;
}
.icon_review_8{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 -105px;
	float:left;
}
.icon_review_9{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 -120px;
	float:left;
}
.icon_review_10{
	margin:2px 0 0 0;
	padding-right:10px;
	width:101px;
	height:15px;
	background:url(images/icon/color3.jpg) no-repeat 0 -135px;
	float:left;
}
.score_review_link{
	padding:0px;
	color:#666;
	font-size:14px;
	float:left;
}
p.score_review_link a{
	line-height:16px;
	text-decoration:underline;
}
p.score_review_link a:hover{
	color:#38b64b;
	text-decoration:underline;
}
/* icon */


/* layout styles */
#top{
	margin:0 auto;
	position:relative;
	background:url(images/livechat/bg-head-3.jpg) no-repeat 0 0;
	width:1029px;
	height:116px;
}
#logo{
	position:absolute;
	top:50px;
	left:23px;
	width:255px;
	height:55px;
}
#livechat{
	position:absolute;
	top:40px;
	left:740px;
	width:190px;
}
#livechat a{
	width:183px;
	height:23px;
	display:block;
	background:url(images/button/livechat.jpg) no-repeat 0 0;	
}

#livechat a:hover{
	background:url(images/button/livechat.jpg) no-repeat 0 -23px;
}
#search_form{
	position:absolute;
	top:84px;
	left:360px;
	width:560px;	
}
.inputbox{ width:450px; float:left;}

.quick_search a{
	margin-left:7px;
	width:72px;
	height:24px;
	display:block;
	background:url(images/button/quick-search.jpg) no-repeat 0 0;
	float:left;
}
.quick_search a:hover{
	background:url(images/button/quick-search.jpg) no-repeat 0 -24px;
}

/* top */

#main{
	margin:0 auto;
	width:1029px;
	background:url(images/layout/bg_main.jpg) repeat-y 0 0;
}
#col_left{
	margin:0px;
	padding:0px;
	width:276px;
	background:url(images/layout/bg-content-menu.jpg) repeat-y top right;
	float:left;
}
#col_right{
	margin:0px;
	padding:0px 0px 10px 0;
	float:left;
}
#navigator{
	margin-left:10px;
	height:24px;
	line-height:16px;
	width:550px;
	float:left;
	color:#000;
}
#navigator h1{padding:5px 0px 0px 15px; line-height:12px; color:#000; font-weight:normal;}
#navigator_rate{
	margin:1px 5px 3px 20px;
	padding:0 10px 0 10px;
	height:18px;
	line-height:16px;
	width:680px;
	float:left;
	color:#000;
	border:solid 1px #d1d2d4; 
}
#navigator_rate span{ color:#3870b7; font-weight:bold;}
#flag_index{
	padding:1px 22px 0 0;
	float:right;
}
#flag{
	padding:1px 0 4px 0;
}

/*-----main menu-----*/

.bg_topmenu{
	width:276px;
	height:52px;
	background:url(images/layout/bg-topmenu.jpg) no-repeat center top;	
}
.bg_topmenu h1{font-size:12px; width:275px; text-align:center; line-height:11px;}
#main_menu{	
	margin:0px 0px 14px 20px;
	width:240px;
	font-size:14px;
}
#main_menu ul {
	margin-left:8px;
	width:220px;
}
#main_menu ul li{	
	display:block;
	height:40px;
	line-height:38px;
	background:url(images/icon/line_topmenu.jpg) no-repeat 28px 14px;
}
#main_menu ul li.end_menu{
	height:40px;
	display:block;
	line-height:38px;
	background:url(images/icon/line_endmenu.jpg) no-repeat 28px 14px;
}
#main_menu ul li.end_menu:hover{
	display:block;
	height:40px;
	line-height:38px;
	background:url(images/icon/line_endmenu_hover.jpg) no-repeat 28px 14px;
}
#main_menu ul li a{
	display:block;
	padding:0px 0px 0px 55px;	
}
#main_menu ul#cssdropdown li a.iconset{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -4px;
}

#main_menu ul li a.iconset_day{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -42px;
}
#main_menu ul li a.iconset_golf{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -82px;
}
#main_menu ul li a.iconset_water{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -122px;
}
#main_menu ul li a.iconset_show{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -162px;
}
#main_menu ul li a.iconset_health{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -201px;
}
#main_menu ul li a.iconset_spa{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -240px;
}



.daytip{
 display:none;
 position:absolute;
 background:none;
 z-index:999;
 }
 
#cssdropdown li ul.daytip { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
 top:-60px;
 left:170px;
 }
 
.golf{
 display:none;
 position:absolute;
 background:none;
 z-index:999;
 }
 
#cssdropdown li ul.golf { 
 top:-95px;
 left:170px;
 }
 
 .water{
 display:none;
 position:absolute;
 background:none;
 z-index:999;
 }
 
#cssdropdown li ul.water { 
 top:-130px;
 left:170px;
 }
 
 .show{
 display:none;
 position:absolute;
 background:none;
 z-index:999;
 }
 
#cssdropdown li ul.show { 
 top:-62px;
 left:170px;
 }
 
.spa{
 display:none;
 position:absolute;
 background:none;
 z-index:999;
 }
 
#cssdropdown li ul.spa { 
 top:-265px;
 left:170px;
 }

#main_menu ul#cssdropdown li.sub_menu table{ padding:0px;}
#main_menu ul#cssdropdown li.sub_menu { margin:0 auto; border:none; background:none;}
#main_menu ul#cssdropdown li.sub_menu td.nocolor{ background:none;}
#main_menu ul#cssdropdown li.sub_menu td{ background:#f5f9fd;}

#main_menu ul#cssdropdown li.sub_menu td.top_b{ background:url(images/icon/btop_rp.png) repeat-x 0 0;}
#main_menu ul#cssdropdown li.sub_menu td.right_b{ background:url(images/icon/bright_rp.png) repeat-y 0 0;}

#main_menu ul#cssdropdown li.sub_menu td.left_b{ background:url(images/icon/bleft_rp.png) repeat-y 0 0;}
#main_menu ul#cssdropdown li.sub_menu td.left_bbg{ border-left:solid 1px #a7a9ac;}

#main_menu ul#cssdropdown li.sub_menu td.top_left_right{ background:url(images/icon/btop_rp_b.png) repeat-x 0 0;}
#main_menu ul#cssdropdown li.sub_menu td.bottom_left_right{ background:url(images/icon/bottom_rp_b.png) repeat-x 0 0;}

#main_menu ul#cssdropdown li.sub_menu td.left_right{  background:#e6eef8;}

#main_menu ul#cssdropdown li.sub_menu td.left_right a{ color:#3a3a3c; background:url(images/icon/sub3.jpg) no-repeat 0 4px; }
#main_menu ul#cssdropdown li.sub_menu td.left_right a:hover{color:#329b00; background:url(images/icon/sub1.jpg) no-repeat 0 4px ;}

#main_menu ul#cssdropdown li.sub_menu td.bottom_b{ background:url(images/icon/bottom_rp.png) repeat-x 0 0;}


#main_menu ul#cssdropdown li.sub_menu a{ 
	margin:8px 10px 8px 5px; 
	padding:0 5px 0 10px; 
	display:block; 
	line-height:18px; 
	font-size:12px; 
	color:#6d6e71;
	background:url(images/icon/sub.jpg) no-repeat 0 4px;
}
#main_menu ul#cssdropdown li.sub_menu a:hover{color:#329b00; background:url(images/icon/sub2.jpg) no-repeat 0 4px;}
/*-----main menu-----*/



/*-----testimonial-----*/
.head_warp{
	width:276px;
	height:22px;
	background:url(images/layout/headwrap-left.jpg) no-repeat top;	
}
#testimonial{
	margin:0px;
	padding:0px;	
	width:276px;
	float:right;
}
#testimonail_icon{
	position:relative;
	height:216px;
	background:url(images/icon/testimonial_icon.jpg) no-repeat 20px 0;
}
.testimonail_detail{
	position:absolute;
	left:22px;
	top:125px;
	width:235px;
	height:74px;
	background:url(images/layout/testimonial_detail.jpg) no-repeat 0 0;	
}
.testimonail_detail .review_tex{
	margin:12px 0 0 20px;
	width:200px;
	height:35px;
	color:#000;
	font:italic 1.1em/1.2em Georgia, 'Times New Roman', serif;
}
.testimonail_custom{
	margin:6px 0 0 5px;
	padding-right:5px;
	width:175px;
	height:15px;
	float:left;
}
.flag{ padding:7px 0 0 20px; width:15px; float:left;}
#testimonail_icon a{
	position:absolute; 
	top:202px; 
	left:165px; 
	width:78px; 
	height:20px; 
	display:block; 
	background:url(images/button/more-why.jpg) no-repeat 0 0;
}
#testimonail_icon a:hover{ background:url(images/button/more-why.jpg) no-repeat 0 -20px;}
#header_bg{
	margin:0 0 0 18px;
	width:242px;
	height:42px;	
	background:#e1e9f6;	
}
#header_bg .title{
	padding:5px 0 0 0;
	font-size:25px;
	color:#5684b7;
	text-align:center;
}
/*-----testimonial-----*/

/*-----booking status-----*/
#booking_status{
	margin:0px;
	padding:0px;	
	width:276px;
	float:right;
}
#search_bg{
	margin:0 auto;
	width:240px;
	background:url(images/icon/search.jpg) no-repeat right 0;	
}
#search_bg p{
	margin:8px 0px 10px 10px;
	width:140px;
}
#search_bg p span{ color:#000}
#booking_status .form_booking{ margin:15px 0 0 10px;}
.form_booking h5{ padding:5px 0 2px 0; color:#2e80b7;}
.booking_id{ width:215px}
a.submit{
	margin:8px 0 15px 40px;
	display:block;
	width:163px;
	height:30px;
	background:url(images/button/submit.jpg) no-repeat 0 0;	
}
a.submit:hover{ background:url(images/button/submit.jpg) no-repeat 0 -30px;}
/*-----booking status-----*/

#head_pop{
	margin:0 0 0 18px;
	width:242px;
	height:56px;	
	background:#e1e9f6;	
}
#head_pop h3{
	padding:3px 0 0 10px;
	font-size:21px;
	line-height:24px;
	text-align:center;
	color:#5684b7;
	font-weight:normal;
}
#intro{
	position:relative;
	margin:0px;
	padding:0px;
	width:751px;
}
#intro img.left_t{
	position:absolute;
	top:0px;
	left:0px;
}
#intro img.right_t{
	position:absolute;
	top:0px;
	left:724px;
}

#intro img.left_b{
	position:absolute;
	top:282px;
	left:0px;
}
#intro img.right_b{
	position:absolute;
	top:282px;
	left:720px;
}

/*-----content-----*/
#content{	
	background:url(images/layout/bg-content-box.jpg) repeat-y 0 0;
}

#hot_search{
	margin:0px;
	width:751px;
	color:#666;
}
#hot_search_header{
	padding-bottom:4px;
	width:751px;
	height:49px;
	background:url(images/layout/head-hotsearch-noline.jpg) no-repeat left top;
}
#menu_hotsearch strong{
	padding-left:28px;
	font:Tahoma, Geneva, sans-serif; 
	font-weight:bold; 
	font-size:22px;
	line-height:22px;
	color:#0066a8;
	background:url(images/icon/list_one.jpg) no-repeat 0 3px;
}
#boxsearch strong{
	padding-left:28px;
	font:Tahoma, Geneva, sans-serif; 
	font-weight:bold; 
	font-size:22px;
	line-height:22px;
	color:#0066a8;
	background:url(images/icon/list_two.jpg) no-repeat 0 3px;
}
#menu_hotsearch{
	padding-left:30px;
	width:250px;
	float:left;
}
#menu_hotsearch ul {
	padding:14px 0 0 25px;
	width:215px;
}
#menu_hotsearch ul li{
	color:#000;
	display:block;
	height:25px;
	font-size:16px;
}
.line_right{
	background:url(images/layout/line-right.jpg) no-repeat right bottom;	
}
.line_right img{ float:left; margin:3px 3px 0 0}

.line_right ul li input { float:left; background:#e1e9f6;}
.line_right ul li img{ padding:0px; margin:1px 0 0 5px;}

.line_right h4{
	font-size:14px;
	float:left;
	line-height:16px;
	width:220px;
}

/*-----boxsearch-----*/
#boxsearch{
	position:relative;
	padding:0px;
	width:454px;
	float:left;
}
#boxsearch img.lowrates{
	position:absolute;
	top:45px;
	left:250px;
}
#boxsearch h4{
	padding:5px 0 0 28px;
	font-size:14px;
	color:#666;
	font:Verdana, Geneva, sans-serif;
}
#boxsearch h4 span{ color:#000; text-decoration:underline;}

#destinationID { width:182px; font-size:14px;  color:#0b9446; height:26px; background:#edf2fa; font-weight:bold;}
#locationID{ width:182px;  font-size:14px; color:#0b9446; height:26px; background:#edf2fa; font-weight:bold;}


#boxsearch ul{
	padding:15px 0 6px 35px;
	width:200px;
}
#boxsearch ul li{
	padding-bottom:6px;
	font-size:16px;
	width:194px;
}

#bg_box_footer{
	width:751px;
	background:url(images/layout/bg-box-footer.jpg) no-repeat left bottom;
	height:24px;
	clear:both;
}
#buttom_center{
	margin-left:28px;
	padding-right:20px;
}
td.search_button_left{
	margin:0px;
	padding:0px;
	width:15px;
	height:41px;
	background:url(images/button/search-hotel-left.png) no-repeat 0 0;
}
td.search_button_right{
	margin:0px;
	padding:0px;
	width:15px;
	height:41px;
	background:url(images/button/search-hotel-right.png) no-repeat 0 0;
}
.index_search_button{
	margin:0px;
	padding:0px;
	height:41px;
	cursor:pointer;
	background:url(images/button/search-hotel.png) repeat-x 0 0;
}
.inner{
	padding:0px;
	display:inline;
	background:none;
	border:none;
	height:41px;
	font-size:18px;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;
}
.inner:hover{
	font-size:18px;
	font-weight:bold;
	color:#2e4ca2;
	background:url(images/button/search-hotel.png) repeat-x 0 0;
}

/*-----rate_page-----*/
#rate_boxsearch{
	margin:0 auto;
	padding-top:5px;
	width:204px;
	height:40px;
	
}
.hotel_search_button{
	width:204px;
	height:32px;
	cursor:pointer;
	border:0px;
	background:url(images/button/list_hotel_search.jpg) no-repeat 0 0;	
}
.hotel_search_button:hover{
	background:url(images/button/list_hotel_search.jpg) no-repeat 0 -32px;
}

/*-----button boxsearch-----*/
#list_search_button{
	margin:0 auto;
	width:204px;
	height:32px;
	border:0px;
	cursor:pointer;
	background:url(images/button/list_hotel_search.jpg) no-repeat 0 0;
}
#list_search_button:hover{
	margin:0 auto;
	width:204px;
	height:32px;
	background:url(images/button/list_hotel_search.jpg) no-repeat 0 -32px;
}
/*-----button boxsearch-----*/

/*-----hot deal-----*/
#hot_deal{
	position:absolute;	
	width:267px;
	height:249px;
	top:31px;
	left:467px;
	background:url(/images-slide/hot_deal.jpg) no-repeat 0 0;
}
#hot_deal a{ 
	position:absolute;
	width:78px;
	height:21px;
	display:block;
	top:228px;
	left:170px;
	background:url(images/button/hot_deal.jpg) no-repeat 0 0;
}
#hot_deal a:hover{background:url(images/button/hot_deal.jpg) no-repeat 0 -21px;}

/*-----destinations-----*/
#destinations_header{
	position:relative;
	width:751px;
	height:50px;
	background:url(images/layout/head-destination.jpg) no-repeat 0 0;	
}
#destinations_header h2{ position:absolute; top:18px; left:44px; font-size:18px;}
.next_hotdes{ 
	position:absolute; 
	width:30px; 
	height:13px; 
	display:block;
	top:22px;
	left:680px;
	background:url(images/icon/next_hotdes.jpg) no-repeat 0 0;
}
.next_hotdes a.first{
	position:absolute;
	display:block;
	width:15px;
	height:13px;
}
.next_hotdes a.second{
	position:absolute;
	display:block;
	width:15px;
	height:13px;
	left:15px;
}
#destinations{
	padding:15px 0 0 40px;
	width:420px;
	float:left;
}
#destinations ul{
	width:132px;
	padding-right:8px;
	float:left;
}
#destinations ul li{
	margin-bottom:12px;
	height:40px;
	display:block;
}
#destinations ul li a{
	display:block;
	color:#666;
	text-decoration:underline;
}

#destinations ul li a:hover{color:#000;}
#destinations ul li img{
	padding-right:5px;
	display:block;
	float:left;
}

#destinations_colright{
	position:absolute;
	top:46px;
	left:466px;
	width:270px;
	height:246px;
	border-left:solid 1px #CCC;	
}
ul.hotels_inbkk_bg{
	padding-right:10px;
	width:257px;
}
.hotels_inbkk_header{
	height:34px;
	width:267px;
	background:url(images/layout/hotel_inbkk_header.jpg) no-repeat 0 0;
}
.hotels_inbkk_header h3{font-size:20px; padding-left:17px;}
#destinations_colright ul.hotels_inbkk_bg li{padding:5px 0 0 5px}
#destinations_colright ul.hotels_inbkk_bg li a{
	padding-left:13px;
	color:#666; 
	font-size:12px; 
	line-height:20px; 
	text-decoration:underline;
	font-weight:bold;
}
#destinations_colright ul.hotels_inbkk_bg li a:hover{ color:#000; background:url(images/icon/next_list.jpg) no-repeat 0 4px;}
#destinations_colright ul.hotels_inbkk_bg li p{ padding:5px 0 0 13px; width:235px;}
#destinations_colright ul.hotels_inbkk_bg li p a.read_more{ padding:0px; color:#f7941e; font-style:italic; float:none; font-weight:normal;} 
#destinations_colright ul.hotels_inbkk_bg li p a.read_more:hover{ background-image:none; color:#000;} 
.backtotop{
	padding:3px 40px 2px 0px;
	width:77px;
	float:right;
}
.backtotop a{
	text-decoration:underline;
	color:#000;
	font-size:14px;
}
.backtotop a:hover{ color:#666}
/*-----content-----*/


/*-----footer-----*/
#footer{
	margin:0 auto;
	padding:16px 0px 14px 0px;
	width:1029px;
	background:url(images/layout/bg_footer.jpg) repeat-y bottom;
}
#bgwrite{
	margin:0 auto;
	padding:10px 0px 10px 0px;
	width:994px;
	background-color:#FFF;	
}
#tophotel_footer{
	margin:0 auto;
	width:972px;
	height:30px;
	background:url(images/layout/bg-tophotel-footer.jpg) no-repeat;
}
#bg_end_footer{
	margin:0 auto;
	width:972px;
	height:2px;
	background:url(images/layout/bg-end-footer.jpg) no-repeat;	
}
#content_tophotel_footer ul{
	margin:0px 0px 0px 0px;
	width:155px;
	float:left;	
}
#tophotel_footer h2{line-height:32px; padding-left:25px; font-size:14px;}
#tophotel_footer h3{line-height:32px; padding-left:25px; font-size:14px;}
#tophotel_footer h4{line-height:32px; padding-left:25px; font-size:14px;}

#tophotel_footer strong{line-height:32px; padding-left:25px; font-size:14px; color:#5684b7;}

#content_tophotel_footer{
	margin:0px 0px 0px 11px;
	padding:6px 0px 5px 25px;
	width:952px;
	background:url(images/layout/tophotel-content-footer.jpg) repeat-y;
}
#content_tophotel_footer ul.col_three{ margin:0 0 0 6px;}
#content_tophotel_footer ul.col_four{ margin:0 0 0 5px;}

#content_tophotel_footer ul li a{	
	width:150px;
	height:25px;
	display:block;
	color:#666;
}
#content_tophotel_footer ul li a:hover{
	color:#000;
}
#content_tophotel_footer ul li.head_bue a{
	color:#5684b7;
	font-weight:bold;	
}
#content_tophotel_footer ul li.head_bue a:hover{
	color:#000;	
}
#menu_footer{
	margin:20px 0px 15px 0px;
	height:40px;
	text-align:center;
	background:url(images/layout/bg-menu-footer.jpg) no-repeat;
}
#menu_footer a{
	font-size:14px;
	line-height:38px;
}
#visa{
	margin:0 auto;
	height:76px;
	background:url(images/layout/visa.jpg) no-repeat top center;
}
#visa a.register{
	display:block;
	width:99px;
	height:76px;
	margin:0 0 0 595px;
	background:url(images/layout/register-logo.jpg);
}
#copyright{
	margin:10px 0px 0px 0px;
	text-align:center;
	
}
#tooltip {
	color: #333;
	background:#FFC;
	/*opacity: .8;*/
	border:1px solid #663;
	display:none; /*--Hides by default--*/
	padding:10px;
	position:absolute;	z-index:1000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.tooltip_content{
display:none;	
}
#currencyBox option{
	padding-left:25px;
}
.errorMessage
{	
	display:block;
	width:500px;
	height:30px;
	color:red;
	border:1px solid #900;
	background-color:#FFC;	
}
a.pageLink{
	text-decoration:none;
	background-color:#5f85b7;
	color:#fff;
	padding:2px;
	margin:2px;
}
a.pageLinkActive{
	text-decoration:none;
	background-color:#8cc63e;
	color:#fff;
	padding:2px;
	margin:2px;
}
a.page_previous_next
{
	color:#0066b8;
	background:none;
	border:none;
}
/*-----footer-----*/
