body{
	color:#666;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	height:800px;
	background:url(images/layout/bg-body.jpg) repeat-x #fcfcfc;
	margin:10px 0px 0px 0px;
}
input, textarea, select{
	color:#5f85b7;
	font-size:1em;
	font-family:Tahoma, Geneva, sans-serif;		
}
form{
	margin:0px;
	padding:0px;
	border:0px;	
}
img{
	border:none;
}
h1, h2, h3, h4, h5{
	line-height:0px;
	margin:0px;
}
h1{font-size:12px; color:#999; }
h2{font-size:1.6em; color:#5684b7; line-height:24px;}
h3{font-size:1.8em; color:#5f85b7; line-height:28px; }
h4{font-size:1.2em; color:#5f85b7; line-height:15px; }
h5{font-size:12px; color:#666; line-height:14px;}

div{
	margin:0px;
	padding:0px;
}
a{text-decoration:none; }
a:link{
	color:#0066a8;
}
a:visited{
	color:#0066a8;
}
a:hover, a:active{
	color:#000;	
}
a:active, a:focus{
	outline:none;	
}
ul, ol, p{
	margin:0px;
	padding:0px;	
}
li{list-style:none; }
.left{float:left; }
.right{float:right; }
.clear-all{clear:both; line-height:0px }
.backtotop{width:100px;}


/* icon */
.icon_review{
	margin:0px 0 0 0;
	width:99px;
	height:20px;
	background:url(images/icon/icon_review.jpg) no-repeat left top;
	float:left;
}
.class_star{
	margin:4px 0px 0px 0px;
	height:18px;
	width:94px;
	background:url(images/icon/icon_star.jpg) no-repeat top;
	float:left;	
}
.class_star_s{
	margin:3px 0px 0px 0px;
	height:16px;
	width:80px;
	background:url(images/icon/icon_star_s.jpg) no-repeat top;
	float:left;	
}
.score_review_link{
	padding:0 0 0 10px;
	color:#666;
	font-size:14px;
	float:left;
}
p.score_review_link a{
	line-height:16px;
	text-decoration:underline;
}
p.score_review_link a:hover{
	color:#38b64b;
	text-decoration:underline;
}
/* icon */


/* layout styles */
#top{
	margin:0 auto;
	position:relative;
	background:url(images/layout/bg-head.jpg) no-repeat 0 0;
	width:1029px;
	height:116px;
}
#logo{
	position:absolute;
	top:50px;
	left:23px;
	width:255px;
	height:55px;
}
.name_page{
	position:absolute;
	top:64px;
	left:337px;
	width:255px;
	height:15px;
	
}
.name_page h1{
	line-height:11px;
}
#livechat{
	position:absolute;
	top:8px;
	left:740px;
	width:190px;
	height:55px;
	font-size:14px;
	text-align:center;
}
#livechat span{color:#0066a8}
#livechat a{
	margin:2px 0 0 0;
	width:183px;
	height:23px;
	display:block;
	background:url(images/button/livechat.jpg) no-repeat bottom center;	
}

#livechat a:hover{
	background:url(images/button/livechat_hover.jpg) no-repeat;
}
#search_form{
	position:absolute;
	top:84px;
	left:360px;
	width:560px;	
}
.inputbox{ width:470px;}
#search_form form{
	margin:1px 5px 0 0;
	float:left;
}
.quick_search a{
	width:72px;
	height:24px;
	display:block;
	background:url(images/button/quick-search.jpg) no-repeat right center;
	float:left;
}
.quick_search a:hover{
	background:url(images/button/quick-search-hover.jpg) no-repeat right center;	
}

/* top */

#main{
	margin:0 auto;
	width:1029px;
	background:url(images/layout/bg_main.jpg) repeat-y 0 0;
}
#col_left{
	margin:0px;
	padding:0px;
	width:276px;
	background:url(images/layout/bg-content-menu.jpg) repeat-y top right;
	float:left;
}
#col_right{
	margin:0px;
	padding:0px;
	float:left;
}
#navigator{
	margin-left:10px;
	height:24px;
	line-height:16px;
	width:550px;
	float:left;
	color:#000;
}
#navigator h1{padding:5px 0px 0px 15px; line-height:12px; color:#000; font-weight:normal;}
#navigator_rate{
	margin:1px 5px 3px 20px;
	padding:0 10px 0 10px;
	height:18px;
	line-height:16px;
	width:550px;
	float:left;
	color:#999;
	border:solid 1px #d1d2d4; 
}
#navigator_rate span{ color:#000;}
#flag_index{
	padding:1px 22px 0 0;
	float:right;
}
#flag{
	padding:1px 0 4px 0;
}

/*-----main menu-----*/

.bg_topmenu{
	width:276px;
	height:52px;
	background:url(images/layout/bg-topmenu.jpg) no-repeat center top;	
}
.bg_topmenu h1{font-size:12px; width:275px; text-align:center; line-height:11px;}
#main_menu{
	margin:0px 0px 14px 20px;
	width:240px;
	font-size:14px;
}
#main_menu ul {
	margin-left:8px;
	width:220px;
}
#main_menu ul li{	
	display:block;
	height:40px;
	line-height:38px;
	background:url(images/icon/line_topmenu.jpg) no-repeat 28px 14px;
}
#main_menu ul li:hover{
	display:block;
	height:40px;
	line-height:38px;
	background:url(images/icon/line_topmenu_hover.jpg) no-repeat 28px 14px;
}
#main_menu ul li.menu_hover{
	height:40px;
	display:block;
	line-height:38px;
	background:url(images/icon/line_topmenu_hover.jpg) no-repeat 28px 14px;	
}
#main_menu ul li.end_menu{
	height:40px;
	display:block;
	line-height:38px;
	background:url(images/icon/line_endmenu.jpg) no-repeat 28px 14px;
}
#main_menu ul li.end_menu:hover{
	display:block;
	height:40px;
	line-height:38px;
	background:url(images/icon/line_endmenu_hover.jpg) no-repeat 28px 14px;
}
#main_menu ul li a{
	display:block;
	padding:0px 0px 0px 55px;	
}
#main_menu ul li a.iconset{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -5px;
}
#main_menu ul li a.iconset_day{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -42px;
}
#main_menu ul li a.iconset_golf{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -82px;
}
#main_menu ul li a.iconset_water{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -122px;
}
#main_menu ul li a.iconset_show{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -162px;
}
#main_menu ul li a.iconset_health{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -201px;
}
#main_menu ul li a.iconset_spa{	
	height:38px;	
	background:url(images/icon/icon_set1.jpg) no-repeat 0 -240px;
}
/*-----main menu-----*/

/*-----testimonial-----*/
.head_warp{
	width:276px;
	height:22px;
	background:url(images/layout/headwrap-left.jpg) no-repeat top;	
}
#testimonial{
	margin:0px;
	padding:0px;	
	width:276px;
	float:right;
}
#testimonail_icon{
	position:relative;
	height:216px;
	background:url(images/icon/testimonial_icon.jpg) no-repeat 47px 5px;
}
.testimonail_detail{
	position:absolute;
	left:21px;
	top:120px;
	width:235px;
	height:76px;
	background:url(images/layout/testimonial_detail.jpg) no-repeat 0 0;	
}
.testimonail_detail .review_tex{
	margin:12px 0 0 20px;
	width:200px;
	height:35px;
	color:#000;
	font:italic 1.1em/1.2em Georgia, 'Times New Roman', serif;
}
.testimonail_custom{
	margin:6px 0 0 5px;
	padding-right:5px;
	width:175px;
	height:15px;
	float:left;
}
.flag{ padding:7px 0 0 20px; width:15px; float:left;}
#testimonail_icon a{
	position:absolute; 
	top:202px; 
	left:165px; 
	width:78px; 
	height:21px; 
	display:block; 
	background:url(images/button/more-why.jpg) no-repeat 0 0;
}
#testimonail_icon a:hover{ background:url(images/button/more-why-hover.jpg) no-repeat 0 0;}
#header_bg{
	margin:0 0 0 18px;
	width:242px;
	height:42px;	
	background:#e1e9f6;	
}
#header_bg .title{
	padding:5px 0 0 0;
	font-size:25px;
	color:#5684b7;
	text-align:center;
}
/*-----testimonial-----*/

/*-----booking status-----*/
#booking_status{
	margin:0px;
	padding:0px;	
	width:276px;
	float:right;
}
#search_bg{
	margin:0 auto;
	width:240px;
	background:url(images/icon/search.jpg) no-repeat right 0;	
}
#search_bg p{
	margin:8px 0px 10px 10px;
	width:140px;
}
#search_bg p span{ color:#000}
#booking_status form{ margin:15px 0 0 10px;}
form h5{ padding:5px 0 2px 0; color:#2e80b7;}
.booking_id{ width:215px}
a.submit{
	margin:5px 0 10px 50px;
	display:block;
	width:144px;
	height:35px;
	background:url(images/button/submit.jpg) no-repeat 0 0;	
}
a.submit:hover{ background:url(images/button/submit-hover.jpg) no-repeat 0 0;}
/*-----booking status-----*/

#head_pop{
	margin:0 0 0 18px;
	width:242px;
	height:55px;	
	background:#e1e9f6;	
}
#head_pop .title{
	padding:3px 0 0 20px;
	font-size:23px;
	color:#5684b7;	
}
#head_pop .txt{
	text-align:center;
	font-size:14px;
	color:#666;
}
#intro{
	position:relative;
	margin:0px;
	padding:0px;
	width:751px;
	background:url(images/layout/bg-end-intro.jpg) no-repeat 0 0 #6084b6;
}
.intro_more a{
	position:absolute;
	width:78px;
	height:21px;
	display:block;
	top:294px;
	left:640px;
	background:url(images/button/intro.jpg) no-repeat 0 0;
}
.intro_more a:hover{ background:url(images/button/intro_hover.jpg)}
.intro_list{
	position:absolute;
	width:74px;
	height:17px;
	top:297px;
	left:30px;
	background:url(images/icon/intro_list.jpg) no-repeat 0 0;	
}
.intro_list a.one{ margin:3px 0 0 13px; position:absolute; display:block; width:8px; height:8px;}
.intro_list a.one:hover{ background:url(images/icon/intro_list_hover.jpg) no-repeat 0 0;}

.intro_list a.two{ margin:3px 0 0 23px; position:absolute; display:block; width:8px; height:8px;}
.intro_list a.two:hover{ background:url(images/icon/intro_list_hover.jpg) no-repeat 0 0;}

.intro_list a.three{ margin:3px 0 0 34px; position:absolute; display:block; width:8px; height:8px;}
.intro_list a.three:hover{ background:url(images/icon/intro_list_hover.jpg) no-repeat 0 0;}

.intro_list a.four{ margin:3px 0 0 44px; position:absolute; display:block; width:8px; height:8px;}
.intro_list a.four:hover{ background:url(images/icon/intro_list_hover.jpg) no-repeat 0 0;}

.intro_list a.five{ margin:3px 0 0 54px; position:absolute; display:block; width:8px; height:8px;}
.intro_list a.five:hover{ background:url(images/icon/intro_list_hover.jpg) no-repeat 0 0;}
/*-----content-----*/
#content{
	background:url(images/layout/bg-content-box.jpg) repeat-y 0 0;
}
#hot_search{
	position:relative;
	margin:0px;
	width:751px;
	color:#666;
}
#hot_search_header{	
	width:751px;
	height:53px;
	background:url(images/layout/head-hotsearch.jpg) no-repeat left top;
}
#hot_search_header h2{ padding:22px 0 0 45px; }
#menu_hotsearch{
	margin-top:10px;
	padding-left:30px;
	width:190px;
	float:left;
}
#menu_hotsearch ul {
	padding:0px;
	margin:0 auto;
	width:170px;
}
#menu_hotsearch ul li{
	display:block;
	height:26px;
	font-size:14px;
	color:#3870b7;
}
.line_right{
	height:180px;
	background:url(images/layout/line-right.jpg) no-repeat right center;	
}

/*-----boxsearch-----*/
#boxsearch{
	margin-top:10px;
	padding:2px 0px 0px 10px;
	width:240px;
	float:left;
}
#boxsearch ul {
	padding:13px 0px 5px 2px;
	margin:0 auto;
	width:200px;
}
#boxsearch  ul li{
	padding:0px 0px 0px 18px;
	display:block;
	height:28px;
}
#bg_box_footer{
	width:751px;
	background:url(images/layout/bg-box-footer.jpg) no-repeat left bottom;
	height:24px;
	clear:both;
}
.index_search_button a{
	margin-left:2px;
	display:block;
	width:208px;
	height:33px;
	background:url(images/button/search-hotel.jpg) no-repeat 0 0;
}
.index_search_button a:hover{
	background:url(images/button/search-hotel-hover.jpg);
}

/*-----rate_page-----*/
.hotel_search_button{
	padding:3px 0 0 0;
	width:240px;
	height:38px;
}
.hotel_search_button a{
	margin:0 auto;	
	display:block;
	width:177px;
	height:30px;
	background:url(images/button/hotel_search_rate.jpg) no-repeat center;	
}
.hotel_search_button a:hover{
	background:url(images/button/hotel_search_rate_h.jpg) no-repeat center;	
}

/*-----list_page-----*/
#list_search_button{
	margin:0 auto;
	width:204px;
}
#list_search_button a{
	margin:0 auto;
	display:block;
	width:204px;
	height:32px;
	background:url(images/button/list_hotel_search.jpg) no-repeat;
}
#list_search_button a:hover{
	margin:0 auto;
	display:block;
	width:204px;
	height:32px;
	background:url(images/button/list_hotel_search_h.jpg) no-repeat;
}
/*-----boxsearch-----*/

/*-----hot deal-----*/
#hot_deal{
	position:absolute;	
	width:263px;
	height:246px;
	top:17px;
	left:467px;
	background:url(images/intro/hot_deal.jpg) no-repeat 0 0;
}
#hot_deal a{ 
	position:absolute;
	width:78px;
	height:21px;
	display:block;
	top:225px;
	left:170px;
	background:url(images/button/hot_deal.jpg) no-repeat 0 0;
}
#hot_deal a:hover{background:url(images/button/hot_deal_hover.jpg) no-repeat 0 0;}

/*-----destinations-----*/
#destinations_header{
	position:relative;
	width:751px;
	height:50px;
	background:url(images/layout/head-destination.jpg) no-repeat 0 0;	
}
#destinations_header h2{ position:absolute; width:250px; top:18px; left:44px;}
.next_hotdes{ 
	position:absolute; 
	width:30px; 
	height:13px; 
	display:block;
	top:22px;
	left:680px;
	background:url(images/icon/next_hotdes.jpg) no-repeat 0 0;
}
.next_hotdes a.first{
	position:absolute;
	display:block;
	width:15px;
	height:13px;
}
.next_hotdes a.second{
	position:absolute;
	display:block;
	width:15px;
	height:13px;
	left:15px;
}
#destinations{
	padding:15px 0 0 40px;
	width:420px;
	float:left;
}
#destinations ul{
	width:140px;
	float:left;
}
#destinations ul li{
	margin-bottom:8px;
	height:40px;
	display:block;
}
#destinations ul li img{
	display:block;
	float:left;
}
#destinations ul li a{
	margin-left:50px;
	width:82px;
	display:block;
	color:#666;
	text-decoration:underline;
}
#destinations ul li a:hover{color:#000;}

#destinations_colright{
	position:absolute;
	top:46px;
	left:466px;
	width:270px; 
	height:228px; 
	border-left:solid 1px #CCC;
}
ul.hotels_inbkk_bg{
	width:267px;
}
.hotels_inbkk_header{
	height:34px;
	width:267px;
	background:url(images/layout/hotel_inbkk_header.jpg) no-repeat 0 0 #33F;;
}
.hotels_inbkk_header h3{ font-size:20px; padding-left:17px;}
#destinations_colright ul.hotels_inbkk_bg li{padding:5px 0 0 4px}
#destinations_colright ul.hotels_inbkk_bg li a{ 
	padding:0 8px 0 15px; 	
	color:#666; 
	font-size:11px; 
	line-height:20px; 
	text-decoration:underline;
	float:left;	
}
#destinations_colright ul.hotels_inbkk_bg li a:hover{ color:#000; background:url(images/icon/next_list.jpg) no-repeat 0 7px;}

.backtotop{
	padding:3px 50px 2px 0px;
	width:70px;
	float:right;
}
.backtotop a{
	text-decoration:underline;
	color:#000;
}
.backtotop a:hover{ color:#666}
/*-----content-----*/


/*-----footer-----*/
#footer{
	margin:0 auto;
	padding:16px 0px 14px 0px;
	width:1029px;
	background:url(images/layout/bg_footer.jpg) repeat-y bottom;
}
#bgwrite{
	margin:0 auto;
	padding:10px 0px 10px 0px;
	width:994px;
	background-color:#FFF;	
}
#tophotel_footer{
	margin:0 auto;
	width:972px;
	height:30px;
	background:url(images/layout/bg-tophotel-footer.jpg) no-repeat;
}
#bg_end_footer{
	margin:0 auto;
	width:972px;
	height:2px;
	background:url(images/layout/bg-end-footer.jpg) no-repeat;	
}
#content_tophotel_footer ul{
	margin:0px 0px 0px 0px;
	width:155px;
	float:left;	
}
#tophotel_footer h3{line-height:32px; padding-left:25px; font-size:14px;}
#content_tophotel_footer{
	margin:0px 0px 0px 11px;
	padding:6px 0px 5px 25px;
	width:952px;
	background:url(images/layout/tophotel-content-footer.jpg) repeat-y;
}
#content_tophotel_footer ul.col_three{ margin:0 0 0 6px;}
#content_tophotel_footer ul.col_four{ margin:0 0 0 5px;}

#content_tophotel_footer ul li a{	
	width:150px;
	height:25px;
	display:block;
	color:#666;
}
#content_tophotel_footer ul li a:hover{
	color:#000;
}
#content_tophotel_footer ul li.head_bue a{
	color:#5684b7;
	font-weight:bold;	
}
#content_tophotel_footer ul li.head_bue a:hover{
	color:#000;	
}
#menu_footer{
	margin:20px 0px 15px 0px;
	padding:0px 0px 0px 190px;
	height:40px;
	background:url(images/layout/bg-menu-footer.jpg) no-repeat;
}
#menu_footer a{
	line-height:38px;
}
#visa{
	margin:0 auto;
	height:76px;
	background:url(images/layout/visa.jpg) no-repeat top center;
}
#visa a.register{
	display:block;
	width:99px;
	height:76px;
	margin:0 0 0 582px;
	background:url(images/layout/register-logo.jpg);
}
#copyright{
	margin:10px 0px 0px 0px;
	text-align:center;
	
}
/*-----footer-----*/
