#left {
     float:left;
     width:200px;
     min-height:600px;
}
#right {
     border-left:1px solid #808080;
     float:left;
     width:500px;
     min-height:500px;
     padding:20px 0 0 50px;
}
#status{
     width:500px;
}
.sale_name {
    font-size:16px;
    font-weight:bold;
    color:#333333;
    border-bottom:1px solid #cccccc;
    width:600px;
    display:block;
    margin-bottom:20px;
}
