body
{
    
	margin:0px;
	padding:0px;
	background:url(../../images_extra/bg_head.jpg) top  repeat-x;
	font-family:Tahoma;
	font-size:11px;
	color:#333333;
	 background-color:#F8F3DB;
	/*color:#837d81;*/	
}
