.review_main
{
    margin:0px;
    padding:0px;
}
.review_left
{
     margin:0px;
     padding:0px;
     width:180px;
    
}
.review_left_active
{
    margin:0px 0px 0px 0px;
    padding:3px 3px 3px 3px;
    display:block;
    height:20px;
    line-height:22px;
    color:#333333;
    text-decoration:none;
    background-color:#d8dfea;
    font-weight:bold;
}

.review_left_Product
{
    margin:0px;
    padding:0px 0px 20px 0px;
    border-bottom:1px solid #eeeeee;
}

.review_left_Product a
{
    margin:0px 0px 0px 0px;
    padding:3px 3px 3px 3px;
    display:block;
    height:20px;
    line-height:22px;
    font-weight:normal;
    color:#333333;
    text-decoration:none;
}

.review_left_Product .img_icon
{
     margin:0px 7px 0px 0px;
     padding:0px;
     float:left;
     width:25px;
     height:25px;
    
}

.review_left_Product .img_progress
{
    display:none;
     margin:5px 0px 0px 0px;
     padding:0px;
    float:right;
}
.review_left_type
{
    margin:10px 0px 0px 0px;
    height:50px;
    padding:0px;
    width:900px;
}

.review_left_type a
{
    margin:0px 20px 0px 0px;
    padding:3px 3px 3px 3px;
    display:block;
    float:left;
    height:20px;
    line-height:22px;
    font-weight:normal;
    color:#333333;
    text-decoration:none;
    cursor:pointer;
    width:150px;
    text-align:center;
}

.review_left_type .img_icon
{
     margin:0px 7px 0px 0px;
     padding:0px;
     float:left;
     width:25px;
     height:25px;
    
}

.review_left_type .img_progress
{
    display:none;
    margin:5px 0px 0px 0px;
     padding:0px;
    float:right;
}

.review_right
{
     margin:0px;
     padding:0px 0px 0px 0px;
     width:100%;
    
    
}

#review_result
{
    margin:0px;
    padding:0px;
    width:100%;
    font-family:Tahoma;
    font-size:11px;
}
.review_item
{
    margin:10px 0px 0px 0px;
    padding:15px;
    background-color:#faf7dd;
    border:1px solid #e2d6a6;
    
    width:880px;
}
.review_id_new
{
     margin:0px;
    padding:0px; 
    color:#3f5d9d;
    font-size:11px;
     font-style:italic;
     font-weight:normal;
}
.review_by
{
    margin:20px 0px 0px 0px;
    padding:0px 0px 0px 20px; 
    font-style:italic;
    font-size:11px;
    color:#3f5d9d;
}
.review_by a
{
    margin:0px;
    padding:0px;
    float:right;
    font-style:normal;
    font-weight:normal;
}
.review_item h1 
{
    margin:0px;
    padding:0px;
    color:#3f5d9d;
    font-size:14px;
}
.review_rate_head
{
   margin:0px;
    padding:0px; 
    color:#ef721f;
    font-size:11px;
     font-style:italic;
     font-weight:normal;
}
.review_title
{
    margin:5px 0px 0px 0px; 
    padding:0px;
    color:#333333;
    font-size:12px;
    font-weight:bold;
    
    
}
.review_title img
{
    margin:0px;
    padding:0px; 
    float:left;
}


/*----------------*/
.review_navigator_page
{
    margin:10px 0px 0px 0px;
    padding:0px 0px 0px 100px;
    text-align:center;
    
}
.Page_nav_style
    {
         margin:0px;
         padding:0px;
    }
    .Page_nav_style a:hover
    {
        color:#72ac58;
    }
    .Page_nav_prevoius_style
    {
        margin:0px;
        padding:0px;
        float:left;
    }
    .Page_nav_prevoius_style a
    {
        margin:0px;
        padding:3px;
        display:block;
        font-size:12px;
        color:#333333;
    }
    
    .Page_nav_prevoius_style_inactive
    {
        margin:0px;
        padding:0px;
        float:left;
    }
    .Page_nav_prevoius_style_inactive a
    {
        margin:0px;
        padding:3px;
        display:block;
        font-size:12px;
        color:#cccccc;
    }
    .Page_nav_prevoius_style_inactive a:hover
    {
        color:#cccccc;
        background-color:White;
        text-decoration:none;
    }
    
    .Page_nav_pageList
    {
        margin:0px;
        padding:0px;
        float:left;
    }
    .Page_nav_pageList a
    {
        margin:0px 0px 0px 15px;
        padding:3px;
        float:left;
        display:block;
        font-size:12px;
       
    }
    
    
    .Page_nav_pageList_activePage
    {
        margin:0px 0px 0px 15px;
        padding:3px;
        float:left;
        display:block;
        font-size:20px;
        color:#ffffff;
        background-color:#3f5d9d;
    }
    
    .Page_nav_pageList a:hover
    {
        background-color:#3f5d9d;
        color:#ffffff;
        
    }
    .Page_nav_next_style
    {
        margin:0px;
        padding:0px;
        float:left;
    }
    .Page_nav_next_style a
    {
        margin:0px 0px 0px 15px;
        padding:3px;
        display:block;
        font-size:12px;
        color:#333333;
    }
/*------------------------*/
#Review_page_title
{
    margin:10px 0px 0px 0px;
    padding:0px 0px 15px 0px;
    
}
#Review_page_title_head
{
    margin:8px 0px 0px 0px;
    padding:0px;
     float: left;
     font-size:18px;
     color:#333333;
     font-weight:bold;
}
#Review_page_title_head img
{
    margin:0px 5px 0px 0px;
    padding:0px;
}
.review_page_title_head_span
{
    margin:0px 0px 0px 5px;
    padding:0px;
    color:#3f5d9d;
    
}
#Review_page_title_num
{
    margin:8px 5px 0px 0px;
    padding:0px;
    float:right;
    font-size:12px;
}
.review_detail
{
    width:100%;
    margin:15px 0px 0px 0px;
    padding:0px; 
}
.review_detail_detail
{
    margin:0px;
    padding:0px; 
    text-indent:0px;
}

.review_detail_detail p
{
    margin:0px;
    padding:0px; 
    text-indent:0px;
}
.review_detail_rate_and_comment
{
    width:100%;
    margin:0px;
    padding:0px;
}
.review_detail_rate
{
    margin:0px;
    padding:0px; 
    float:left;
    width:45%;
    
}
.review_detail_rate p
{
    margin:0px;
    padding:0px; 
}
.review_detail_rate p img
{
    margin:0px;
    padding:0px; 
}

.review_detail_comment
{
    margin:20px 0px 0px 0px;
    padding:0px; 
    float:left;
    width:55%;
}
.rating_header
{
    font-size:12px;
    color:#3b5998;
    font-weight:bold;
}

#review_box
{
     margin:10px 0px 0px 0px;
}
.review_detail_link
{
    margin:0px;
    padding:0px;
    text-align:right;
}
.review_detail_link a
{
    margin:0px;
    padding:0px;
    font-weight:normal;
}

.review_detail_information
{
    margin:0px;
    padding:0px;
}
.review_head
{
   margin:0px;
    padding:0px;
    font-weight:bold;
    color:#333333;
     
}
.review_item_block_edit
{
    margin:0px;
    padding: 20px;
    border:1px solid #cfcdb4;
    background-color:#ffffff;
}

.review_textbox_style
{
    
    padding:3px;
    margin:0px;
    border:1px solid #e2d6a2;
    font-size:12px; 
    background-color:#ffffff;
}
.review_dropDown_style
{
    
    padding:2px;
     border:1px solid #97a8c4;
}
.review_button_style
{
    background-color:#5973a8;
    border:1px solid #29457f;
    font-family:Tahoma;
    font-size:12px;
    height:22px;
    color:#ffffff;
    font-weight:bold;
    padding:2px;
    margin:0px;
    width:120px;
}

.result_process
{
    margin:0 auto;
    padding:20px;
    width:500px;
    height:300px;
    background-color:#f2f2f2;
    border:1px solid #cccccc;
}
.result_process img 
{
    margin:0 auto;
    padding:20px;
}


/* REview List Style  SiteREview*/

#site_review_list
{
     margin:0px;
     padding:0px;
     width:100%;
     border:1px solid #d8dfea;
}
#site_review_list tr
{
    margin:0px;
    padding:0px;
    width:100%;
    border:1px solid #d8dfea;
     
}
#site_review_list tr td 
{
    margin:0px;
    padding:0px;
    text-align:center; 
    height:30px;
    
   
     
}
.tableHead
{
    background-color:#3f5d9d;
    height:25px;
    color:#ffffff;
    font-weight:bold;
    text-align:center;
}
.highlight
{
    background-color:#9daccb;
    color:#215dc6;
}
/*Review Site Detail*/
.content
  {
     margin:0px 0px 0px 0px;
     padding:0px 0px 0px 0px;
     
  }
  h1
  {
     margin:15px 0px 15px 0px;
     padding:0px 0px 0px 0px;
     color:#105cb6;
     font-size:14px;
     font-weight:bold;
      
  }
  .boxField
  {
     margin:0px;
     padding:15px;
     width:95%;
     background:#fbfbfb;
     border: 1px solid #d6e1f7;
        /*--CSS3 Rounded Corners--*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  
  .title
  {
      margin:0px;
      padding:0px;
      font-size:12px;
      font-weight:bold;
      font-style:italic;
      
  }
  .txtsite_review
  {
      margin:0px;
      padding:3px;
      width:660px;
      border:1px solid #d8d8d8;
      font-size:14px;
      font-family:Verdana;
  }
  
  .dropsite_review
  {
      margin:0px;
      padding:3px;
      width:400px;
      border:1px solid #abadb3;
      font-size:12px;
      font-family:Verdana;
  }
  
  #ratebox
  {
       margin:0px;
       padding:0px;
      
  }
  
  #ratebox ul
  {
     margin:0px;
     padding:0px; 
  }
  
  #ratebox ul li
  {
      margin:0px;
      padding:0px;
      float:left;
      width:20px;
      height:20px;
      list-style:none;
      background-image:url(../images/write_blank.png);
      background-position:0 -40px;
      
  }
  .chekListreview
  {
       margin:0px;
       padding:0px;
       width:300px;
  }
   .chekListreview tr
   {
       margin:0px;
       padding:0px;
       height:25px;
   }
  .chekListreview tr td
  {
       margin:0px;
       padding:0px;
       width:150px;
       font-size:11px;
       font-family:Tahoma;
       height:25px;
  }
  .chekListreview tr td label
  {
       margin:0px;
       padding:0px;
       height:25px;
  }
  .birthday_month 
  {
      padding:3px;
      font-size:14px;
  }
  .birthday_day 
  {
      padding:3px;
      font-size:14px;
  }
  .birthday_year 
  {
      padding:3px;
      font-size:14px;
  }
  
  .review_btn
  {
       margin:10px 0px 0px 0px;
       padding:0px;
       text-align:center;
  }

.booknow
{
    width:250px;
    height:50px;
    background-image:url(../images/review_now.png);
    background-position:0px 0px;
    padding:0px;
    margin:0px;
    border:0px;
    cursor:pointer;
}